.title-item {
  position: relative;
  margin-right: 10px;
  img {
    width: 100%;
  }
  video {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover {
    .items {
      opacity: 1;
    }
    img {
      opacity: 0;
    }
    video {
      display: block;
    }
  }
  .items {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    height: 100%;
    padding: 10px;
    background: -prefix-linear-gradient(
      top,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.7)
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.7)
    );
    display: flex;
    align-items: flex-end;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
  }
  h2 {
    color: #fff;
    font-size: 20px;
    margin: 5px auto;
  }
  .btn {
    background: none;
    border: #fff 2px solid;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    i {
      line-height: 16px;
      color: #fff;
    }
  }
  .btn-muted {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .btn-play {
    i {
      color: #f00;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-right: 10px;
    }
  }
  .relevance {
    color: #3fad56;
    font-weight: bold;
  }
  .age {
    padding: 2px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    font-size: 12px;
    height: 24px;
    border-radius: 2px;
    color: #fff;
  }
  .age-free {
    background-color: rgb(0, 156, 76);
    &:before {
      content: "L";
    }
  }
  .age-12 {
    background-color: #cda521;
    color: #000;
    &:before {
      content: "12";
    }
  }
  .age-14 {
    background-color: rgb(231, 121, 43);
    &:before {
      content: "14";
    }
  }
  .age-16 {
    background-color: rgb(215, 38, 45);
    &:before {
      content: "16";
    }
  }
  .age-18 {
    background-color: rgb(19, 17, 17);
    &:before {
      content: "18";
    }
  }
  .parts {
    font-weight: bold;
  }
}
