.navbar {
  z-index: 1000;
  &.bg-dark {
    background-color: rgba(0, 0, 0, 0.6) !important;
    @media (min-width: 992px) {
      background-color: transparent !important;
      background-image: url("/assets/images/header_gradient.png");
      background-repeat: repeat-x;
    }
  }
  .form-control {
    background-color: #1b1b1b !important;
    color: #fff;
    border-color: #fff;
    border-radius: 0;
    max-width: 115px;
    line-height: 28px;
    height: 28px;
    @media (min-width: 576px) {
      max-width: 180px;
    }
  }
  img {
    height: 24px;
  }
  ul {
    &.sidebar {
      color: #999898;
      max-width: 250px;
      background-color: #1b1b1b !important;
      position: absolute;
      top: 60px;
      left: -250px;
      height: calc(100vh - 60px);
      overflow-y: auto;
      transition: all 0.1s ease-out;
      opacity: 0.5;
    }
    li {
      padding: 0.3em 1em;
      &.divider {
        border-bottom: #999898 1px solid;
        margin: 0.3em auto;
      }
    }
    @media (min-width: 992px) {
      &.nav {
        flex-grow: 1 !important;
        .active {
          color: #e30f19 !important;
          font-weight: bold;
        }
      }
    }
    @media (min-width: 1200px) {
      &.nav {
        color: rgba(255, 255, 255, 0.5) !important;
        .li {
          padding: 0;
        }
        .active {
          color: rgba(255, 255, 255, 1) !important;
          font-weight: bold;
        }
      }
    }
  }
  &.sidebar-open {
    ul {
      left: 0;
      opacity: 1;
    }
  }
  .navbar-dark {
    .navbar-toggler {
      color: #fff;
      border: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (min-width: 992px) {
    .navbar-brand {
      &.flex-grow-1 {
        flex-grow: initial !important;
      }
    }
    img {
      height: 34px;
    }
  }
}
.media-avatar {
  img {
    height: 38px;
  }
}
